@font-face {
    font-family: 'helveticaneuecyrlight_italic';
    src: url('../font/helveticaneuecyr-lightitalic-webfont.eot');
    src: url('../font/helveticaneuecyr-lightitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/helveticaneuecyr-lightitalic-webfont.woff2') format('woff2'),
         url('../font/helveticaneuecyr-lightitalic-webfont.woff') format('woff'),
         url('../font/helveticaneuecyr-lightitalic-webfont.ttf') format('truetype'),
         url('../font/helveticaneuecyr-lightitalic-webfont.svg#helveticaneuecyrlight_italic') format('svg');
    font-weight: normal;
    font-style: normal;

    font-family: "MyriadProRegular";
    src: url("../fonts/MyriadProRegular/MyriadProRegular.eot");
    src: url("../fonts/MyriadProRegular/MyriadProRegular.eot?#iefix")format("embedded-opentype"),
    url("../fonts/MyriadProRegular/MyriadProRegular.woff") format("woff"),
    url("../fonts/MyriadProRegular/MyriadProRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
*{
	padding: 0;
	margin: 0;
}
.clearfix:after{
	content: '';
	display: block;
	clear: both;
}
html,body{
	font-family: 'MyriadProRegular', Arial, sans-serif;
	font-size: 62.5%;
	height: 100%;
}
.page{
	height: 100%;
}
.header{
    background: url(../img/header-image.jpg) no-repeat;
    background-size: cover;
   
}
.header h1, p{
	color: white;
    }
.header h1{
	line-height: 3.5rem;
	font-size: 3.5rem;
	padding: 5% 0 1% 19.5%;

}
.header p{
	
	font-size: 1.4rem;
	padding: 0 0 0 19.5%;
	white-space: pre-wrap;
}
.button a{
	display: block;
	width: 240px;
	line-height: 59px;
	font-size: 2.5rem;
	color: #493f3f;
	background-color: #e5592b;
	text-transform: uppercase;
	text-decoration: none;
	text-align: center;
	margin-left: 19.5%;
	
}