@font-face {
	font-family: 'helveticaneuecyrlight_italic';
	src: url('../font/helveticaneuecyr-lightitalic-webfont.eot');
	src: url('../font/helveticaneuecyr-lightitalic-webfont.eot?#iefix') format('embedded-opentype'),
	url('../font/helveticaneuecyr-lightitalic-webfont.woff2') format('woff2'),
	url('../font/helveticaneuecyr-lightitalic-webfont.woff') format('woff'),
	url('../font/helveticaneuecyr-lightitalic-webfont.ttf') format('truetype'),
	url('../font/helveticaneuecyr-lightitalic-webfont.svg#helveticaneuecyrlight_italic') format('svg');
	font-weight: normal;
	font-style: normal;

	font-family: "MyriadProRegular";
	src: url("../fonts/MyriadProRegular/MyriadProRegular.eot");
	src: url("../fonts/MyriadProRegular/MyriadProRegular.eot?#iefix")format("embedded-opentype"),
	url("../fonts/MyriadProRegular/MyriadProRegular.woff") format("woff"),
	url("../fonts/MyriadProRegular/MyriadProRegular.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}
*{
	padding: 0;
	margin: 0;
}
.clearfix:after{
	content: '';
	display: block;
	clear: both;
}
html,body{
	font-family: 'MyriadProRegular', Arial, sans-serif;
	font-size: 62.5%;
	height: 100%;
}
.page{
	height: 100%;
	min-width: 1160px;
}
.header{
	position: relative;
	height: 50%;
	min-height: 390px;
	box-sizing: border-box;
	background: url(../img/header-image.jpg) no-repeat;
	background-size: cover;
	background-color: rgba(94, 83, 74, 0.9);
	border-bottom: 1px solid #fff;
}
.logo{
	position: absolute;
	left: 9%;
	top: 32px;
}
.header h1, p{
	color: white;
}
.header h1{
	line-height: 3.5rem;
	font-size: 3.5rem;
	padding: 4% 0 1% 19.5%;
	display: inline-block;
	max-height: 70px;
	min-width: 1160px;
}
}
.header p{
	
	font-size: 1.4rem;
	padding: 0 0 0 19.5%;
	width: 50%;
}
.button{
	display: block;
	float: left;
	width: 240px;
	line-height: 59px;
	font-size: 2.5rem;
	color: #493f3f;
	background-color: #e5592b;
	text-transform: uppercase;
	text-decoration: none;
	text-align: center;
	margin:30px 0 30px 19.5%;
	
}
.home{
	display: block;
	float: left;
	font-size: 1.4rem;
	color: #fff;
	text-decoration: none;
	margin: 50px 0 0 2.3%;
	text-transform: uppercase;
}
.home i{
	padding: 0 0 0 4.6%;
	color: #f15a29;
}
.links:after{
	content: '';
	display: block;
	width: 43.3%;
	background: #a19a94;
	height: 1px;
	margin: 0 0 30px 19.5%;
}
.bottom-left{
	float: left;
	background: #53636f;
	width: 50%;
	height: 50%;
	min-height: 350px;

}
.bottom-right{
	float: left;
	background: url(../img/bottom-right.jpg);
	background-size: cover;
	width: 50%;
	height: 50%;
	min-height: 350px;
}

.twitter{
	width: 80%;
	margin: 3.4% auto 0 auto;
}
