#container{
	width:100%;
	height: 100%;
	min-width: 900px;
	background-color: white;
	
}

#content{
	background: url(images/first.png) no-repeat;
	background-size: cover;
	width: 100%;
	background-color: white;
	height: 55%;
	min-width: 300px;
	float: top;
	color: white; 
	overflow: hidden;
}

#logo{
	padding-left: 8%;
	padding-top: 1.5%;
}

.header {
	padding-top: 5%; 
	padding-left: 3%; 
	text-align: left; 
	 
}

.header > h1{
	font-family: Stem;
	font-size: 42px;
	font-weight: 500;
}

.header > p{
	font-family: HelveticaNeueCyr;
	font-style: italic;
	font-weight: 300;
}

.button {
	text-align:	center;
	color: #493f3f;
	font-family: Stem;
	font-size: 30px;
	font-weight: 500;
	float: left;
	padding-left: 3%;
	padding-top: 1%;
}

button{
	background-color: rgba(241, 90, 41, 0.92);
	border: none;
	width: 255px;
	height: 79px;
}

.button > a{
	text-decoration: none;
	color: #493f3f;
}

.button > a:hover{
	color: #493f3f;
}

.home{
	float: right;
	padding-top: 3%;
	padding-right: 70%;
	font-family:Stem;
	font-size:19.5px;
	font-weight: 500;
}

.home > a{
	text-decoration: none;
	color: white;
}

.home > a:hover{
	text-decoration: none;
	color: white;
}


hr {
    border: none; /* Убираем границу */
    background-color: #9a9491; /* Цвет линии */
    color: #9a9491; /* Цвет линии для IE6-7 */
    height: 1px; /* Толщина линии */
	width: 750px;
	float: left;
}

.line{
	padding-top:8.5%;
}

#bottom-left{
	width: 50%;
	background-color: white;
	height: 45%;
	min-width: 100px;
	color:white;
	float:left;
	background:url(images/bottom-left.png);
	background-size:cover;
	overflow: hidden;
	padding-top: 1%;	
	padding-left: 8%;
}



#bottom-right{
	width: 50%;
	height: 45%;
	min-width: 100px;	
	float:right;
	overflow: hidden;
}

.item{
    background: #333;    
    text-align: center;
}

.carousel{
	height:100%;
}

.carousel-caption{
	
	
}

.slide-descriprion{
	width: 700px;
	padding-top: 4%;
}

.leftimg {
    float:left; /* Выравнивание по левому краю */
    margin: 7px 50px 7px 0; /* Отступы вокруг картинки */
   }

.photo{
	float: left;
}

.text-photo{
	float: right;
}

.carousel-caption > h2{
	line-height:45px;
	font-family: HelveticaNeueCyr;
	margin-bottom: 10%;
}

.carousel-caption > p{
	font-family: HelveticaNeueCyr;
	font-style: italic;
	font-size:18px;
	font-weight: 300;
	text-align: left;
	margin-bottom: 30%;
}