table{
	width: ;
	margin: 0 auto;
	border-collapse: collapse;
	width: 540px;
}
td{
	border: 3px solid black;
}
tr{
	height: 60px;	
}
.yellow{
	background-color: yellow;
}
.white{
	background-color:white; 
}
.black{
	background-color: black;
}
.blue{
	background-color: blue;
}
.red{
	background-color: red;
}
.black{
	background-color:#26312d;
}

