
*{
	padding: 0;
	margin: 0;
}
.clearfix:after{
	content: '';
	display: block;
	clear: both;
}
html {
	font-family: 'Ubuntu', Arial, sans-serif;
	font-weight: normal;
	font-size: 1px;
}
.container {
	width: 100%;
}
.container_wrapper {
	margin: 0 auto;
}